/* - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128  */

/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(14px, 2vw, 16px);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: #fcfcfc;
}

::selection {
  background-color: #1a98ff;
  color: #fff;
}

::placeholder {
  color: rgba(255, 255, 255, 0.678);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.container-hero {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.heading-primary {
  font-family: "Roboto", sans-serif;
  color: #1a98ff;
  font-size: clamp(24px, 3vw, 32px);
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: clamp(48px, 20vw, 54px);
  font-family: "Roboto", sans-serif;
  color: #222222;
  letter-spacing: 1.5px;
  padding-top: 96px;
}

.heading-tertiary {
  font-family: "Roboto";
  color: #155f9e;
  font-size: clamp(24px, 3vw, 32px);
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.service-img-container::before {
  content: "";
  display: block;
  width: 70%;
  padding-bottom: 70%;
  background-image: linear-gradient(
    209.25deg,
    #00e5ff6c 13.05%,
    #3cdec69f 88.99%
  );
  box-shadow: 0px 20px 80px #00e5ff56;
  z-index: -1;
  position: absolute;
  border-radius: 50%;
  left: 10%;
  bottom: 25%;
}
