@media screen and (max-width: 1346px) {
  .project-title {
    font-size: 18px;
  }

  .modal-paragraph {
    font-size: clamp(14px, 1vw, 18px);
  }

  .tech-item img {
    width: clamp(30px, 40%, 100px);
  }

  .modal-btns {
    margin-top: 18px;
  }

  .modal-btns button {
    width: clamp(135px, 30vw, 188px);
  }

  .tech-icons {
    padding-top: 24px;
  }

  .project-header {
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .modal-paragraph {
    font-size: 12px;
  }

  .modal {
    height: 32vw;
  }
}

@media screen and (max-width: 1060px) {
  .intro-text p {
    max-width: 80%;
  }

  .modal-btns button {
    width: clamp(135px, 30vw, 159px);
  }

  .modal-btns span {
    font-size: 10px;
  }

  h1 {
    font-size: clamp(48px, 8vw, 56px);
  }

  .hero-job-title-text {
    font-size: clamp(18px, 4vw, 28px);
  }

  .project-title {
    font-size: 16px;
  }

  .project-header {
    padding-bottom: 4px;
  }

  /* .modal {
    height: 32vw;
  } */
}

@media screen and (max-width: 961px) {
  .modal {
    display: block;
    height: clamp(80vh, 800px, 70vh);
    padding: 24px;
    /* max-width: calc(55vw + 4rem); */
  }

  .project-details {
    padding: 12px 0px;
  }

  .project-title.mobile {
    display: block;
  }

  .project-title.desktop {
    display: none;
  }
  .project-title {
    font-size: 24px;
  }

  .modal-img-wrapper {
    display: flex;
    padding-top: 24px;
  }

  .modal-img {
    align-self: center;
    /* border-radius: 0px; */
  }

  .tech-icons {
    padding-top: 18px;
    display: flex;
    justify-content: center;
  }

  .close-btn {
    padding-right: 12px;
    padding-top: 6px;
  }

  .modal-paragraph {
    font-size: clamp(14px, 1vw, 18px);
  }

  .modal-btns {
    display: flex;
    justify-content: center;
    padding-top: 32px;
  }
}

@media screen and (max-width: 870px) {
  .modal-btns {
    margin-top: 12px;
  }

  .tech-item img {
    width: clamp(25px, 40%, 100px);
  }

  /* .tech-item img {
    width: 25px;
  } */
}
@media screen and (max-width: 612px) {
  .nav-list {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 100%;
    background: linear-gradient(to top, #32a0fe 0%, #1b7fe4 100%);
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    transform: translateX(100vw);
  }
  .nav-links-text {
    display: flex;
    padding-bottom: 24px;
    transition: all 250ms ease;
  }
  .nav-links-text:hover {
    transform: translateY(-2px);
    cursor: pointer;
  }
  .nav-links-text:nth-child(1) {
    padding-top: 10vh;
  }
  .btn-mobile-nav {
    display: block;
  }

  .hero-btn-list-item {
    padding-right: 0;
    transform: scale(0.8);
  }

  .social-icon {
    transform: scale(0.8);
    margin-right: 0;
  }

  .social-icon:hover {
    transform: scale(0.9);
  }

  .nav-list {
    animation: slideRight 250ms ease;
  }
  .services-title-container {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 414px) {
  .modal-btns span {
    font-size: 10px;
  }

  .modal-btns {
    transform: scale(0.8);
    padding-top: 0px;
    max-width: 100%;
  }

  .modal-btns button {
    width: 160px;
  }
  .tech-icons-list {
    max-width: 100%;
  }

  .tech-item img {
    width: clamp(30px, 40%, 100px);
  }

  .modal {
    height: 75vh;
  }

  .project-title {
    font-size: 14px;
  }

  .icon-wrapper span {
    padding-left: 8px;
  }
}

@media screen and (max-width: 375px), screen and (max-height: 700px) {
  .modal {
    height: 95vh;
  }
}
