@media screen and (max-width: 1368px) {
  .project-title {
    font-size: 18px;
  }

  .modal {
    height: 33vw;
  }

  .modal-paragraph {
    font-size: clamp(14px, 1vw, 18px);
  }

  .tech-item img {
    width: clamp(30px, 40%, 100px);
  }

  .modal-btns {
    margin-top: 18px;
  }

  .modal-btns button {
    width: clamp(135px, 30vw, 188px);
  }

  .tech-icons {
    padding-top: 24px;
  }

  .project-header {
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .modal-paragraph {
    font-size: 12px;
  }

  .tech-icons-list {
    max-width: 100%;
  }

  .modal {
    height: 33vw;
  }
}

@media screen and (max-width: 1060px) {
  .skills-list {
    grid-template-columns: 1fr 1fr;
  }

  .intro-text p {
    max-width: 80%;
  }

  /* .modal {
    height: 40vw;
  } */
  .modal-btns button {
    width: clamp(135px, 30vw, 159px);
  }

  .modal-btns span {
    font-size: 10px;
  }

  h1 {
    font-size: clamp(48px, 8vw, 56px);
  }

  .hero-job-title-text {
    font-size: clamp(18px, 4vw, 28px);
  }

  .icon-wrapper {
    width: 100%;
  }

  .project-title {
    font-size: 16px;
  }

  .tech-icons {
    padding-top: 12px;
  }

  /* .modal {
    height: 40vw;
  } */
}

@media screen and (max-width: 870px) {
  .modal-btns {
    margin-top: 12px;
  }

  .tech-item img {
    width: clamp(25px, 40%, 100px);
  }

  .grid.grid--2-cols.service-divs {
    display: block;
  }

  #service-text-box-1 {
    padding-right: 0px;
  }

  #service-text-box-2 {
    padding-top: 24px;
  }

  .service-text-box {
    text-align: center;
  }

  .see-more {
    justify-content: center;
  }

  .text-box-2 {
    padding-bottom: 32px;
  }

  #services {
    margin-bottom: 128px;
  }
}

/* Surface Duo */

@media screen and (max-width: 765px) and (max-height: 540px) {
  .modal-img-wrapper {
    display: none;
  }

  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
  }

  .project-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 540px) and (max-height: 765px) {
  .modal {
    height: 80vh;
  }
}
/* ************************************ */

@media (max-width: 765px) {
  .modal-btns {
    gap: 0px;
  }

  .modal-btns button {
    transform: scale(0.8);
  }

  .modal-paragraph {
    font-size: 10px;
  }

  .contact-form {
    width: 80%;
  }
}

@media screen and (max-width: 658px) {
  .nav-list {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 100%;
    background: linear-gradient(to top, #32a0fe 0%, #1b7fe4 100%);
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    transform: translateX(100vw);
  }
  .nav-links-text {
    display: flex;
    padding-bottom: 24px;
    transition: all 250ms ease;
    font-size: 18px;
  }
  .nav-links-text:hover {
    transform: translateY(-2px);
    cursor: pointer;
  }
  .btn-mobile-nav {
    display: block;
  }

  .hero-btn-list-item {
    padding-right: 0;
    transform: scale(0.8);
  }

  .social-icon {
    transform: scale(0.8);
    margin-right: 0;
  }

  .social-icon:hover {
    transform: scale(0.9);
  }

  .nav-list {
    animation: slideRight 250ms ease;
  }
  .services-title-container {
    transform: scale(0.8);
  }

  .skills-list {
    grid-template-columns: 1fr;
    gap: 64px;
  }

  .portfolio-items {
    display: block;
  }

  .image-box {
    padding-bottom: 48px;
  }

  .textbox {
    height: 350px;
  }

  /* modal */

  .modal {
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1fr;
    height: 110vw;
  }

  .modal-paragraph {
    width: 100%;
  }

  .project-title.desktop {
    display: none;
  }

  .project-title.mobile {
    display: block;
    padding-bottom: 12px;
    font-size: 18px;
  }

  .modal-img-wrapper {
    grid-row: 1;
    width: 90%;
  }

  .project-details {
    grid-column: 1;
    justify-content: flex-start;
    padding-top: 12px;
    width: 100%;
  }

  .modal-btns {
    justify-content: center;
    padding-top: 12px;
    /* width: 100%; */
  }

  .modal-btns button {
    width: clamp(135px, 40vw, 159px);
  }

  .modal-img img,
  .gallery-img-wrapper {
    align-self: center;
  }
}

@media screen and (max-width: 470px) {
  .modal {
    height: 135vw;
  }

  .project-details {
    padding: 0px;
  }

  .project-title.mobile {
    font-size: 16px;
  }

  .modal-img-wrapper {
    height: fit-content;
  }
}

@media screen and (max-width: 360px) {
  .modal {
    height: 150vw;
  }
}
