@media screen and (max-width: 1060px) {
  .intro-text p {
    max-width: 80%;
  }

  h1 {
    font-size: clamp(48px, 8vw, 56px);
  }

  .hero-job-title-text {
    font-size: clamp(18px, 4vw, 28px);
  }
}

@media screen and (max-width: 612px) {
  .nav-list {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 100%;
    background: linear-gradient(to top, #32a0fe 0%, #1b7fe4 100%);
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    transform: translateX(100vw);
  }
  .nav-links-text {
    display: flex;
    padding-bottom: 24px;
    transition: all 250ms ease;
  }
  .nav-links-text:hover {
    transform: translateY(-2px);
    cursor: pointer;
  }
  .nav-links-text:nth-child(1) {
    padding-top: 10vh;
  }
  .btn-mobile-nav {
    display: block;
  }

  .hero-btn-list-item {
    padding-right: 0;
    transform: scale(0.8);
  }

  .social-icon {
    transform: scale(0.8);
    margin-right: 0;
  }

  .social-icon:hover {
    transform: scale(0.9);
  }

  .nav-list {
    animation: slideRight 250ms ease;
  }
  .services-title-container {
    transform: scale(0.8);
  }
}
